@model IEnumerable<BL.Book>

@{
    ViewBag.Title = "List";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.ISBN)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Title)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.SignId)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.PublicationYear)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.PublicationInfo)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Pages)
        </td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { isbn = item.ISBN }) |
                @Html.ActionLink("Details", "Details", new { isbn = item.ISBN }) |
                @Html.ActionLink("Delete", "Delete", new { isbn = item.ISBN })
            </td>
        </tr>
    }

</table>
