@{
    ViewBag.Title = "Index";
}

<h2>Home page</h2>
<p>Welcome @ViewBag.borrower.FirstName !</p>

@if (ViewBag.borrows.Count == 0)
{
    <p>You don't have any current borrowed books yet.</p>
}
else
{
<table>
    <tr>
        <th>Title</th>
        <th>Borrow date</th>
        <th>To be returned</th>
        <th>Operations</th>
    </tr>
    @foreach (var borrow in ViewBag.borrows)
    {
        <tr>
            <td>@borrow.BookTitle</td>
            <td>@borrow.BorrowDate.ToString("MM/dd/yyyy HH:mm")</td>
            <td>@borrow.ToBeReturnedDate.ToString("MM/dd/yyyy HH:mm")</td>
            <td>@Html.ActionLink("Renew the loan", "RenewLoan", new { barcode = borrow.Barcode })</td>
        </tr>
    }
</table>
}