@model IEnumerable<BL.Borrower>

@{
    ViewBag.Title = "List";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.FirstName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.LastName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.PersonId)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Address)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Telno)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.CategoryId)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Username)
        </td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { PersonId = item.PersonId }) |
                @Html.ActionLink("Details", "Details", new { PersonId = item.PersonId }) |
                @Html.ActionLink("View currently borrowed books", "Index", new { PersonId = item.PersonId }) |
                @Html.ActionLink("Delete", "Delete", new { PersonId = item.PersonId })
            </td>
        </tr>
    }

</table>
